
body {
    margin: 0;
    padding: 0;
}

#view {
    display: flex;
    width: 100vw;
    height: 100vh;
}
.mw {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    padding-bottom: 50px;
    scrollbar-width: none;
    scrollbar-color: var(--color) var(--background);
}

#menu.hidden {
    transform: translateX(-600px);
    opacity: 0;
}
#menu {
    transition: transform .3s, opacity .3s;
    z-index: 100;
    overflow-y: auto;
    position: fixed;
    left: 0;
    top: 0;
    height: calc(100vh - 70px);
    --v: calc(var(--background_id) + 0);
    background:rgb(var(--v), var(--v), var(--v));
    box-shadow: 0 0 90px 10px rgba(0,0,0,.3);
    max-width: 400px;
    width: 400px;

    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    padding-bottom: 60px;
    scrollbar-width: thin;
    scrollbar-color: var(--color) rgb(var(--v), var(--v), var(--v));

    .list {
        margin-bottom: 10px;
        display: flex;
        gap: 10px;

        button {
            font-family: Arial, Helvetica, sans-serif;
            padding: 10px 15px;
            border: 0;
            border-radius: 12px;
            cursor: pointer;
            color: var(--background);
            background: var(--color);
        }
    }
    
    .note {
        --l: calc(var(--background_id) + 30);
        --w: calc(var(--background_id) + 10);
        background:rgb(var(--w), var(--w), var(--w));
        display: flex;
        max-width: 100%;
        /* margin: 10px; */
        gap: 10px;
        align-items: center;
        padding: 7px 14px;
        /* padding-right: 5px; */
        border-radius: 100px;
        
        span {
            font-family: Arial, Helvetica, sans-serif;
            width: 100%;
            overflow: hidden;
            text-wrap: nowrap;
            mask-image: linear-gradient(
                to right,
                #000 90%,
                transparent
            );
        }

        svg {
            opacity: 0;
            fill: var(--color);
            height: 20px;
            width: 20px;
        }
    }
    .note:hover {
        background:rgb(var(--l), var(--l), var(--l));
        cursor: pointer;
        svg {
            opacity: 0.4;
        }

        svg:hover {
            opacity: 1;
        }
    }
}

#buttons {
    z-index: 1;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, transparent, var(--background));

    div {
        display: flex;
        gap: 10px;
        padding: 10px;

        svg {
            fill: var(--color);
            margin: auto 0;
            cursor: pointer;
            padding: 5px;
        }

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px 13px;
            border-radius: 999px;
            border: solid 1px #999;
            color: var(--background);
            background: var(--color);
            transition: transform .2s;
        } 
        button:hover {
            transform: scale(1.05);
            cursor: pointer;
        }
        button:active {
            transform: scale(.97);
        }
    }
}
textarea {
    background: var(--background);
    color: var(--color);
    resize: none;
    outline: none;
    border: 0;
    overflow-x: auto !important;
    mask-image: linear-gradient(
        to right,
        #000 calc(100% - 20px),
        transparent
    );
    /* border-right: 2px #999 solid; */
}
#le_preview {
    --v: calc(var(--background_id) + 20);
    --bg: rgba(var(--v), var(--v), var(--v));
    background: var(--bg);
    scrollbar-color: var(--color) var(--bg);
    scrollbar-width: thin;
    margin: 30px;
    transform: translateY(-20px) translateX(30px);
    margin-left: 0;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,.4);
    border-radius: 20px 0 0 20px;

    padding: 20px;
    padding-bottom: 10px !important;
    /* margin-right: 0; */
}
*::-webkit-scrollbar-button {
    display: none; /* or height: 0; width: 0; */
    height: 0; width: 0;
}

#resize {
    z-index: 3;
    --w: 4.5px;
    display: flex;
    flex-direction: column;
    --v: calc(var(--background_id) + 20);
    background: rgba(var(--v), var(--v), var(--v));
    height: min-content;
    gap: calc(var(--w) / 2);
    padding: var(--w);
    border-radius: 5px 0 0 5px;
    margin: auto 0;
    cursor: ew-resize;
    transform: translateY(-20px) translateX(31px);
    box-shadow: -8px 0px 10px 0px rgba(0,0,0,.07);

    .point {
        height: var(--w);
        width: var(--w);
        background: var(--color);
        border-radius: 999px;
    }
}

/* to be injected */
