
body {
    margin: 0;
    padding: 0;
}

#view {
    display: flex;
    width: 100vw;
    height: 100vh;
}
.mw {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    padding-bottom: 50px;
    scrollbar-width: none;
    scrollbar-color: var(--color) var(--background);
}

#buttons {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, transparent, var(--background));

    div {
        display: flex;
        gap: 10px;
        padding: 10px;

        button {
            padding: 5px 13px;
            border-radius: 999px;
            border: solid 1px #999;
            background: var(--color);
            color: var(--background);
            transition: transform .2s;
        }
        button:hover {
            transform: scale(1.05);
            cursor: pointer;
        }
        button:active {
            transform: scale(.97);
        }
    }
}
textarea {
    background: var(--background);
    color: var(--color);
    resize: none;
    outline: none;
    border: 0;
    /* border-right: 2px #999 solid; */
}
#le_preview {
    --v: calc(var(--background_id) + 20);
    --bg: rgba(var(--v), var(--v), var(--v));
    background: var(--bg);
    scrollbar-color: var(--color) var(--bg);
    scrollbar-width: thin;
    margin: 30px;
    transform: translateY(-20px) translateX(30px);
    margin-left: 0;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,.4);
    border-radius: 20px 0 0 20px;

    padding: 20px;
    padding-bottom: 10px !important;
    /* margin-right: 0; */
}
*::-webkit-scrollbar-button {
    display: none; /* or height: 0; width: 0; */
    height: 0; width: 0;
}

#resize {
    z-index: 3;
    --w: 4.5px;
    display: flex;
    flex-direction: column;
    --v: calc(var(--background_id) + 20);
    background: rgba(var(--v), var(--v), var(--v));
    height: min-content;
    gap: calc(var(--w) / 2);
    padding: var(--w);
    border-radius: 5px 0 0 5px;
    margin: auto 0;
    cursor: ew-resize;
    transform: translateY(-20px) translateX(31px);
    box-shadow: -8px 0px 10px 0px rgba(0,0,0,.07);

    .point {
        height: var(--w);
        width: var(--w);
        background: var(--color);
        border-radius: 999px;
    }
}

/* to be injected */
